.tpl-component-designer .img { width: 192px;float:left;padding:6px 25px 0 0; }
.tpl-component-designer .img .caption { color:#fff;display:block;background:#b76c00;text-align:center;line-height:36px;margin-top:3px; }
.tpl-component-designer .img img { width:100%; }
