.tpl-component-calc2018 #rekom .labels { position:absolute;display:none; }
.tpl-component-calc2018 #rekom .h3_block.mgt-header-block-title { color: #2A2F35; margin-top: 0; font-size: 21px; font-weight: 500; line-height: 1.1; font-family: 'Roboto'; text-transform:uppercase; }
.tpl-component-calc2018 #rekom .mgt-header-line { height: 1px; width: 48.8%; background: #b76c00; display: table; margin: 10px 0 -15px 0; }
@media(max-width:415px) { 
.tpl-component-calc2018 div#first_storey_height { position:absolute;bottom:53pt;left:104px;right:15% }
.tpl-component-calc2018 div#second_storey_height { position:absolute;bottom:128pt;left:104px;right:15%; }
.tpl-component-calc2018 #calculator .result .house_params .house_img .storey .storey_height { font-size:16px; }
.tpl-component-calc2018 #calculator .result .house_params .house_img .storey .storey_height .text { line-height:16px; }
 }
@media(max-width:376px) { 
.tpl-component-calc2018 div#first_storey_height { position:absolute;bottom:45pt;left:90px;right:15% }
.tpl-component-calc2018 div#second_storey_height { position:absolute;bottom:117pt;left:90px;right:15%; }
.tpl-component-calc2018 #calculator .result .house_params .house_img .storey .storey_height { font-size:13px; }
.tpl-component-calc2018 #calculator .result .house_params .house_img .storey .storey_height .text { line-height:14px; }
 }
@media(max-width:320px) { 
.tpl-component-calc2018 div#first_storey_height { position:absolute;bottom:40pt;left:75px;right:15% }
.tpl-component-calc2018 div#second_storey_height { position:absolute;bottom:98pt;left:75px;right:15%; }
.tpl-component-calc2018 #calculator .result .house_params .house_img .storey .storey_height { font-size:13px; }
.tpl-component-calc2018 #calculator .result .house_params .house_img .storey .storey_height .text { line-height:14px; }
 }
@media(max-width:1px) { 
.tpl-component-calc2018 #calculator .result .cols { display:block; }
.tpl-component-calc2018 #calculator .result .house_params .params_cols { display:block; }
.tpl-component-calc2018 #calculator .result .house_params .house_img { width:auto;margin-right:0;transform:scale(0.8) }
.tpl-component-calc2018 #calculator .result .total_price .cols .left_col { width:auto; }
.tpl-component-calc2018 #calculator .result .total_price .cols { display:block; }
.tpl-component-calc2018 #calculator .result .total_price { width:auto; }
.tpl-component-calc2018 #calculator .result .total_price .cols .right_col { width:auto; }
.tpl-component-calc2018 #calculator .cols .left_col, .tpl-component-calc2018 #calculator .result .cols { width:auto; }
.tpl-component-calc2018 #calculator .cols { display:block; }
.tpl-component-calc2018 #calculator .cols .right_col, .tpl-component-calc2018 #calculator .calculator { width:auto; }
.tpl-component-calc2018 #calculator .calculator .storey .room .data
.tpl-component-calc2018 #calculator .calculator { width:auto;padding-top: 30px; }
.tpl-component-calc2018 #calculator .widget_title { font-size:24px;line-height:28px; }
.tpl-component-calc2018 #calculator .instructions { display:block;white-space:nowrap;background: #fefefe;margin-top: 25px;border-radius: 5px;height: 420px;overflow: hidden;padding: 70px 0 60px;margin-left: 15px;margin-right: 15px;box-shadow: 0 0px 30px rgba(0,0,0,0.2); }
.tpl-component-calc2018 #calculator .instructions .info { display:block;width:100%;float:left;min-height: 400px; }
.tpl-component-calc2018 #calculator .instructions .info .text { white-space:normal;font-size:18px;line-height:24px; }
.tpl-component-calc2018 #calculator .calculator .storey .room { margin-left:15px;margin-top: 30px;margin-right:15px;clear: both;padding: 10px 10px 10px;position:relative; }
.tpl-component-calc2018 #calculator .calculator .storey .room[data-room_preview] { padding-top:70px; }
.tpl-component-calc2018 #calculator .calculator .storey .room.active { box-shadow: 0px 0px 30px rgba(0,0,0,0.3); }
.tpl-component-calc2018 #calculator .calculator .storey .room .data .icon { width:60px;height: 56px;padding: 4px 0;position: absolute;top: 10px; }
.tpl-component-calc2018 #calculator .calculator .storey .room .data .icon .title { letter-spacing: -1px;font-size: 10px; }
.tpl-component-calc2018 #calculator .calculator .storey .room .data .icon .icon_img { top: 22px;bottom: 7px; }
.tpl-component-calc2018 #calculator .calculator .storey .room .data .slider_wrapper .big_title { position:absolute;top:0;width:100%;text-align:center;left:0;line-height:65px; }
.tpl-component-calc2018 #calculator .calculator .storey .room .data .info { position:absolute;top:10px;font-size:17px;right:10px;width:55px;height:55px;line-height:20px;text-align:center;padding:7px 10px 0; }
.tpl-component-calc2018 #calculator .calculator .storey .room .data .info span { font-size:20px;display:block; }
.tpl-component-calc2018 #calculator .cols { display:block; }
.tpl-component-calc2018 #calculator .cols .right_col, .tpl-component-calc2018 #calculator .cols .left_col { width:auto; }
.tpl-component-calc2018 #calculator .calculator .storey .options .col { width:100%;float:none;display: block; }
.tpl-component-calc2018 #calculator .calculator .storey .options .cols { display:block; }
.tpl-component-calc2018 #calculator .calculator .storey .room:after { content:"";display:table;clear:both;height:10px; }
.tpl-component-calc2018 #calculator .calculator .storey .room .data+.options .col { margin-bottom:10px; }
.tpl-component-calc2018 #calculator .calculator .storey .room .data+.options .col+.col { margin-left:0;margin-bottom:10px; }
.tpl-component-calc2018 #calculator .calculator .storey .options .bedroom_options .add_room_btn-1 { line-height:16px; }
.tpl-component-calc2018 #calculator .big_title { text-align:center;font-size:20px;margin-bottom:-15px; }
.tpl-component-calc2018 #calculator .result { padding-bottom:1px;padding-top:0; }
.tpl-component-calc2018 #calculator .result .total_price { padding:15px }
.tpl-component-calc2018 #calculator .result .total_price .cols .left_col { display:block;text-align:center;line-height:18px; }
.tpl-component-calc2018 #calculator .result .total_price .cols .left_col .text { line-height:18px;font-size:16px }
.tpl-component-calc2018 #calculator .result .total_price .cols .left_col .border { background:none; }
.tpl-component-calc2018 #calculator .result .total_price .cols .left_col .price { margin-bottom:25px; }
.tpl-component-calc2018 #calculator .result .total_price .bottom_text { font-size:14px;line-height:18px;padding:20px 20px 10px; }
.tpl-component-calc2018 #calculator .result .total_price { margin-left:15px;margin-right:15px }
.tpl-component-calc2018 #calculator .result .total_price { margin-bottom:0; }
.tpl-component-calc2018 #calculator { margin-bottom:-30px; }
.tpl-component-calc2018 #calculator .calculator { padding-top:0px; }
.tpl-component-calc2018 #calculator .result .house_params .options { width:auto; }
.tpl-component-calc2018 #calculator .result .house_params .house_img { transform: scale(0.6);margin: -30px -60px -60px; }
.tpl-component-calc2018 #calculator .calculator .storey+.storey { margin-top:20px; }
.tpl-component-calc2018 #calculator .calculator .storey .options { margin-top:9px }
.tpl-component-calc2018 #calculator .calculator .room_preview { margin-top:30px!important;margin-left:15px;margin-right:15px; }
.tpl-component-calc2018 #calculator .result .house_params { padding:15px;margin:15px }
.tpl-component-calc2018 #calculator .instructions { position:relative; }
.tpl-component-calc2018 #calculator .instructions:before, .tpl-component-calc2018 #calculator .instructions:after { content:""; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAABABAMAAADouErfAAAALVBMVEUAAAChoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaE8IbbHAAAAD3RSTlMAI8If4v+/3yAi4OEhRB7XMKzVAAAAyUlEQVR4nK2RIQ7CQBBFp8GUZAWCG3ABgkEjKvAEEhrkWkxDgqxrsgqBQ29Sga0gQaBBcwXOwSYwf75EMGryROd1n8hnspHoDJe6ZUUFuKq/W7/YKzwSbBWe1oAd4APQdWeDN4XxqvBeKhS/gdN0MdC1t5sTPuiaE25Kw/ECHOzTuR3kiy5CjuySc2sYryNuK/+YF+6IN6vAViTLVixbGzZZa5FiIBt1S+EqwmNdqbw88ce/t6P3DYhBLQLCUbeG4EwhlfeAMlH4Bur0R2RHLJXkAAAAAElFTkSuQmCC"); width:20px;height:30px; position:absolute; top:37.5%; }
.tpl-component-calc2018 #calculator .instructions:before { left:20px; }
.tpl-component-calc2018 #calculator .instructions:after { background-position:bottom; right:0; top:37.25%; right:20px; }
.tpl-component-calc2018 #calculator .result .cols .left_col { width:auto; }
.tpl-component-calc2018 #calculator .result { margin:15px 0; }
.tpl-component-calc2018 #calculator .calculator { padding-bottom:0; }
 }
