a {color: #567588;}

.top_menu  {background: #567588 url('../i/templates/navy/top_menu_gradient.gif') repeat-x left top;}
.top_menu .top_menu_bg1 {background: transparent url('../i/templates/navy/top_menu_bg1.gif') no-repeat left top;}
.top_menu .top_menu_bg2 {background: transparent url('../i/templates/navy/top_menu_bg2.gif') no-repeat right top;}
.nc_subdivision_list .nc_menu_item a {background: transparent url('../i/templates/navy/arrow.gif') no-repeat right center;}
.top_menu a {border-right: 1px solid #34637F;}
.orange_border {background: #567588;}