body {
	margin: 0 auto;
	padding: 0;
	background-color: #f8f8e9;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #333;
}

ul li { font-size:12px; margin-bottom:5px; }

a img
{
  border: 0;
}

#container {
	margin: 0 auto;
	padding: 0;
	width: 1024px;
}
#colleft {
	width: 218px;
	float: left;
}
#logo {

	background-repeat: no-repeat;
	height: 77px;
	width: 149px;

}
.category  {
	padding: 5px;
}

.category td {
	padding: 5px;
	font-size: 18px;	
}

.menu {
	width: 202px;
	margin-top: 30px;
}
.menu ul {
	list-style:none;
	padding:0px;
	margin:0px;
}
.menu ul li {
	border-bottom:1px #fff dashed;
	margin:0px;
	padding:0px;	
}
.menu ul li a {	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	display:block;
	padding:4px 5px 4px 18px;
	background-color: #b96e1e;
	color: #f8f8e9;
	text-decoration:none;	
	margin-bottom: 2px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: -10px;
}
.menu ul li.active a {	
	background:#64b622 url(../img/menu_left_arr.jpg) no-repeat left;
	margin-left: -22px;
}
.menu ul li.open a {	
	background:#5a88b7 url('../images/ard.gif') no-repeat left;
}
.menu ul li.current a {	
	background:#5a88b7 url('../images/arrw.gif') no-repeat left;
	color: #f8f8e9;
}
.menu ul a:hover {text-decoration: underline;}

/*****  UL  UL  ****/
.menu ul ul {
	margin-bottom:0.8em;
}
.menu ul ul li {
	margin-bottom:0px;
	border-bottom:1px #eee solid;
	padding-left:30px;
}

.menu ul ul li.active a {
	background: #008ec3;
}

.menu ul ul a, .menu ul .active ul a, .menu ul .open ul a {	
	background:#64b622;
	padding-left:20px;
}	
.menu ul ul .active a, .menu ul ul a:hover {	
	color: #f8f8e9;
}

/*****  UL  UL  UL  ****/
.menu ul ul ul {
	margin-left:1em;
}
.menu ul ul ul li {
	margin-left:0.5em;
	padding-left:10px;
}

.menu ul ul ul a {	
	padding:2px 0px 2px 0px;
}

.menu ul ul ul li.active a {
	background: #008ec3;
}

.menu ul ul ul a, .menu ul ul .active ul a, .menu ul ul .open ul a {	
	background:#64b622;
	padding-left:20px;
}	


/* ---------------------------------------------- */


#colcenter {
	float: left;
	width: 653px;
	
}
#topcenter {
	border-bottom: 4px solid #63b421;
	height: 45px;
	margin-top: 18px;
}
#slideshow, #slideshow_standart {
	height: 374px;
	background-color: #999999;
	position: relative;
}
#slideshow_standart {
	height: 235px;
}
.motion {
	margin-top: 200px;
	background-image: url(../img/motion.jpg);
	background-repeat: no-repeat;
	height: 166px;
	width: 145px;
}

#colright {
	float: left;
	width: 100px;
	margin-left: 22px;
	margin-top: 58px;
	text-align: center;
}

.clearfloat {
	clear: both;
  	margin: 0;
  	padding: 0;
 }
 .topslogan, .topslogan2, .topcall {

	font-size: 14px;
	font-weight: bold;
	color: #c06300;
	text-transform:uppercase; 
 }
.topslogan2, .topcall {
	color: #57a815; 
}
.topcall-kod {
	font-size: 14px; 
	margin-right:3px;
}
.righteko {
	margin-bottom: 25px;
}
.righteko a, a:link, .righteko a:visited {
	font-size: 10px;
	color: #63b421;
	font-weight: bold;
}
.rightnature a:link, .rightnature a:visited {
	font-size: 10px;
	color: #087db1;
	font-weight: bold;
}
.topcall {
	font-family: Verdana;
	font-size: 16pt;
	float: right;
}
.topcallon {
	font-family: Verdana;
	float: right;
	font-size: 10px;
	color: #c06300;
}

#tour {
	margin-top: 20px;
	margin-left: 10px;
}
.linevs, .linevs_standart {
	height: 74px;
	width: 19px;
	background-image: url(../img/linevs.jpg);
	background-repeat: no-repeat;
	position: relative;
	top: 62px;
	left: 635px;
}
.linevs_standart {
	top: -92px;
	left: -18px;
}

#precontact_standart {
	margin-top: 16px;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #b96e1d;
	background-color: #59b211;
	padding: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 23px;
	color: #f8f8e9;
	background-image: url(../img/ico_pretop.jpg);
	background-repeat: no-repeat;
	background-position: 12px 4px;
}
#precontact_standart p {
	text-align:center;
	padding:0;
	margin:0;
	text-indent: 20px;	
}
#content_standart {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #424241;
	margin-left: 45px;
	margin-top: 35px;
}

#content_standart p {
	/* [disabled]text-indent: 20px; */
}

.content_standart_img {
	padding: 2px;
}

#content_standart_nobord {
	border:0px solid #c06300;
}

#content_standart_bord, #content_standart_bord td {
	border: 1px solid #c06300;
}

#content_standart_bord td {
	padding-left: 10px;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	vertical-align: top;
}

#content_standart_nobord td {
	padding-right: 10px;
	padding-bottom: 10px;
	vertical-align: top;
}

#right_flower {
	height: 91px;
	width: 137px;
	background-image: url(../img/right_flower.jpg);
	background-repeat: no-repeat;
	position: relative;
	margin-left: 623px;
}

/* slideshow */
.description a { color:#cdd4dc; text-decoration:none; }
.description {
	background: url(../img/bg-trans.png) repeat;
	width: 250px;
	padding: 10px;
	position: relative;
	bottom: 70px;
	left: 10px;
}
.description a:hover { text-decoration:none; color:#0081b9; }
* html #description { padding:10px 10px 0; }
#posimg img { top:0; left:0; z-index:50; }
img.pointer_left, img.pointer_right, img.pointer_left2, img.pointer_right2 {position:absolute; border:0;}
img.pointer_left, img.pointer_right {top:145px; z-index:100; }
img.pointer_left { left:10px; }
img.pointer_right { right:10px; }
img.pointer_left2 { top:65px; left:5px; }
img.pointer_right2 { top:65px; right:5px; }
#footer {
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #6cbb2d;
	background-color: #c06400;
	height: 34px;
	padding-top: 12px;
}
#footer .footer_tel {
	font-size: 14px;
	font-weight: bold;
	color: #ebe3c8;
	margin-left: 32px;
}
#footer .footer_coopy {
	margin-left: 220px;
}

#footer .footer_coopy, #footer .footer_coopy a {
	font-size: 12px;
	color: #e4b27c;
	
}

#wrapper {
	width: 1024px;
	border: 1px solid #8C8C8C;
}

#main {
	background-image: url(../v_line00.gif);
	background-repeat: repeat-x;
}
#main table .sectiontableentry2 {
	background-color: #f7f8ea;
}
#main table .sectiontableentry2 .sectiontableentry2 .small {
	font-size: 8px;
	color: #c06300;
}
#table_project{
	border:1px solid #c06300;
	border-collapse: collapse;
	width: 285px;
}
#table_project td{
	border:1px solid #c06300;
	padding-left: 3px;
}

#projects {
	background-color: #f7f8ea;
	font-family: Verdana, Geneva, sans-serif;
	color: #a65e11;
	font-size: 10px;
	margin-top: 20px;
}
#projects td{
	vertical-align: top;
	color: #a65e11;
}
#projects_top {
	font-weight: bold;
	font-size: 14px !important;
	padding-left: 20px;
	background-color: #f8f8e9 !important;
	padding-bottom: 6px;
	text-decoration: underline;
}
#projects_left {
	font-size: 12px;
	padding-left: 2px;
	background-color: #f8f8e9 !important;
	padding-bottom: 1px;
	text-decoration: underline;
	
}



/* From Template.Css */

h1, h2, 
{
	font-weight: bold;
	font-size: 14px;
	text-align: left;
	color: #424241;
}

a
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  font-size: 12px;
  color: #393E37;
}

a:link
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  font-size: 12px;
  color: #393E37;
}

a:visited
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  font-size: 12px;
  color: #393E37;
}

a:hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  font-size: 12px;
  color: #C06300;
}

#art-main
{
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  cursor:default;
}

.cleared
{
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1px;
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}



/* begin Box, Post */
.art-post
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-post-body
{
  position: relative;
  z-index: 1;
  padding: 10px;
}

.art-post-cc
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
}

.art-post
{
  margin: 0px;
}

a img
{
  border: 0;
}

.art-article img, img.art-article
{
  border: 0;
  margin: 10px;
}

.art-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.art-article table, table.art-article
{
  border-collapse: collapse;
  margin: 1px;
  width: auto;
}

.art-article table, table.art-article .art-article tr, .art-article th, .art-article td
{
  background-color: Transparent;
}

.art-article th, .art-article td
{
  padding: 2px;
  border: solid 1px #C06300;
  vertical-align: top;
  text-align: left;
}

.art-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

#content_standart_nobord {
	border:0px solid #c06300;
}


pre
{
  overflow: auto;
  padding: 0.1em;
}

/* end Box, Post */

/* begin PostHeaderIcon */
.art-postheader
{
  margin: 0.2em 0;
  padding: 0;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  color: #5E675B;
}

.art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  margin: 0;
  color: #5E675B;
}

/* end PostHeaderIcon */

/* begin PostHeader */
.art-postheader a:link
{

  color: #5E675B;
}

.art-postheader a:visited, .art-postheader a.visited
{

  color: #5E675B;
}

.art-postheader a:hover, .art-postheader a.hovered
{
  text-decoration: none;
  color: #C06300;
}
/* end PostHeader */

/* begin PostMetadata, PostMetadataHeader */
.art-postmetadataheader
{
  padding: 1px;
  background-color: #F8F8E9;
}
/* end PostMetadata, PostMetadataHeader */

/* begin PostIcons, PostHeaderIcons */
.art-postheadericons
{
  padding: 1px;
}

.art-postheadericons, .art-postheadericons a, .art-postheadericons a:link, .art-postheadericons a:visited, .art-postheadericons a:hover
{
  font-size: 12px;
  color: #373B35;
}

.art-postheadericons a, .art-postheadericons a:link, .art-postheadericons a:visited, .art-postheadericons a:hover
{
  margin: 0;
}

.art-postheadericons a:link
{

  color: #6D6237;
}

.art-postheadericons a:visited, .art-postheadericons a.visited
{

  color: #4F564D;
}

.art-postheadericons a:hover, .art-postheadericons a.hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #C09C1B;
}
/* end PostIcons, PostHeaderIcons */

/* begin PostContent */
/* Content Text Font & Color (Default) */
body
{
{defaultfont}
  color: {TextColor};
}

.art-postcontent
{
  text-align: justify;
  color: {TextColor};
}

/* end From Template.Css  */

/* NEW-styles for content_standart block */
.main-page-header {
	color:#b96e1e;
	font-size:12px;
	font-weight:bold;
	margin-top:5px;
	margin-bottom:5px;
}
.our-preferences {
	margin-top:10px;
	font-weight:bold;
}
.our-preferences ul li { margin-bottom:10px; font-size:12px; }
.main-page-price {
	margin-left:40px;
	margin-top:30px;
	margin-bottom:30px;
}
.main-page-price a {
	font-size:12px;
}
.main-page-price span { margin-left:45px; }
.green-line-div { height:5px; background-color:#63b421; margin-top:10px; margin-bottom:20px; }
.main-page-style {  margin-bottom:20px; }
.main-page-style p, .main-page-style h2, ul, li {
	font-size:12px;
}
.anons-news { float:right; margin-top:58px; text-align: left; }
.anons-news div.art-postcontent div.art-article { text-align:left; font-size:12px; }
.anons-news div.blog_more ul li a { text-align:left; font-size:12px; margin-bottom:5px; }


/* end NEW-styles for content_standart block */




















body{
	background:#F7F8EA;
} 

#news-anons {
 position:relative;
 top:200px; 
 left:-881px;
 float: left;
width: 149px;
margin-top: 58px;
text-align: center;
} 

#title-n {
	margin:0px;
	margin-bottom:2px;
	padding:0px;
	color:#FFF;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:600;
} 





/*            */
#zagolovok {
	margin:4px 0px 0px 0px;
	padding:0px;
	color: #53524D;
	font-family: Tahoma, Geneva, sans-serif;
	font-size:15px;
	font-weight:400;
	text-align:left;
} 


#zagolovok a  {
	color:#53524D;
	text-decoration: underline;
}

#zagolovok a:hover   {  
/*text-shadow: 1px 1px 1px #FC9;*/
	color:#53524D;
	text-decoration: none;
}

#zagolovok a:active   {  
	color:#53524D;
	text-decoration: none;
}
/*        //     */


#date-n {
	margin:3px 0px 0px 0px;
	padding:0px;
	color: #53524D;
	font-family: Verdana, Geneva, sans-serif;
	font-size:11px;
	font-weight:400;
	text-align:left;
	vertical-align: top;
} 

#text-n {
	margin:5px 0px 0px 0px;
	padding:0px;
	color: #6C6C6C;
	font-family: Verdana, Geneva, sans-serif;
	font-size:11px;
	font-weight:400;
	text-align:left;
	vertical-align: top;
} 




/*            */
#details {
	margin:0px 0px 2px 0px;
	padding:0px;
	color: #FFFFE5;
	font-family: Tahoma, Geneva, sans-serif;
	font-size:11px;
	font-weight:400;
	text-align: center;
} 


#details a  {
	color: #FFFFF4;
	text-decoration: underline;
}

#details a:hover   {  
/*text-shadow: 1px 1px 1px #FC9;*/
	color: #FFFFF4;
	text-decoration: none;
}

#details a:active   {  
	color: #FFFFF4;
	text-decoration: none;
}
/*        //     */







