.vc_custom_1464164432268 {
    margin-bottom: 30px !important;
    padding-top: 30px !important;
    padding-right: 50px !important;
    padding-bottom: 30px !important;
    padding-left: 50px !important;
    background: #2a2f35 url(/images/pixel-grid.png?id=1506) !important;
    background-position: 0 0 !important;
    background-repeat: repeat !important;
}
.vc_custom_1464163924767 {
    margin-top: 0px !important;
}
.vc_custom_1464164091335 {
    margin-top: 0px !important;
}
.wpb_gmaps_widget .wpb_map_wraper > ymaps {
    margin-bottom: 0;
    padding: 0;
    display: block;
    width: 100%!important;
    border: none;
}
.vc_custom_1464103235021 {
    margin-top: 0px !important;
}
.vc_custom_1464167635013 {
    margin-top: 0px !important;
}
form .result {margin:0 0 15px 0;color:#000;}
form .error {margin:0 0 15px 0;color:red;}