<div class="row"><div class="dontlike wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner "><div class="wpb_wrapper">
        <div class="mgt-cta-block clearfix black-text with-text wpb_content_element">
            <div class="mgt-button-wrapper mgt-button-wrapper-align-right mgt-button-wrapper-display-newline mgt-button-top-margin-disable"><a onclick="yaCounter4312879.reachGoal('zayavkaarchitector');" data-action="/catalog/architect/" data-show="#parent_popup_form_detail_phone" data-href=".js-callback-wrap" class="btn hvr-default mgt-button mgt-style-solid mgt-size-large mgt-align-right mgt-display-newline mgt-text-size-normal mgt-button-icon-position-left mgt-text-transform-uppercase js-openPopup" href="#">Записаться </a></div>
            <div class="mgt-cta-block-content">Хотите индивидуальную планировку?</div>
            <h5 class="mgt-cta-block-header">Создайте её бесплатно!</h5>
            <div class="mgt-cta-block-content">Запишитесь на встречу с архитектором CKD</div>
        </div>
    </div></div>
</div></div>