<p class="contact_item"><i class="svg-icon svg-footer_earth"></i>
<span>Москва:</br>
ул. Нижняя Сыромятническая, д. 10, стр. 2, 8 этаж.</span> </br></br>
<span>Московская область:</br>
Истринский район, д.Духанино, ул.Рождественская д.120, 2 этаж.</span>
</p>
<p class="contact_item"><i class="svg-icon svg-footer_phone"></i>Консультации и отдел продаж <span style="font-weight:bold;     display: block;"><a class="yp74959830039" href="tel:+74959830039" >+7 (495) 983-00-39</a></span></p>
<p class="contact_item"><i class="svg-icon svg-footer_clock"></i>Время работы</br> 9:00 - 21:00</p>



