<style>
.cpa3{display:none;}
.inlcude2-1{font-family:Roboto;margin-bottom:40px;}
.inlcude2-1 .col-md-6{color:#5a5a5a;}
.inlcude2-1 .mgt-promo-block .mgt-promo-block-content {padding:20px;}
.inlcude2-1 .mgt-promo-block.black-text .mgt-promo-block-content,
.inlcude2-1 .mgt-promo-block.black-text .mgt-promo-block-content h3{color:#fff;}
.inlcude2-1 .mgt-promo-block.black-text .mgt-promo-block-content h3{font-size:13px;text-transform:uppercase}
.inlcude2-1 .mgt-header-block {margin-bottom:40px;}
.inlcude2-1 strong{font-weight:600;}
.inlcude2-1 h5{color:#222222;}
.inlcude2-1 h6{text-transform:uppercase;}
.mgt-icon-box.mgt-icon-background.mgt-icon-background-invert .mgt-icon-box-icon{background-color:#ffc02d;}
</style>
<div class=" inlcude2-1">

<div class="vc_row wpb_row vc_row-fluid">
	<div class="wpb_column vc_column_container vc_col-md-9 vc_col-sm-12">
		<div class="vc_column-inner ">
			<a class="btn pull-right hvr-default mgt-button mgt-style-solid mgt-size-normal mgt-align-left mgt-display-inline mgt-text-size-normal mgt-button-icon-position-left mgt-text-transform-none  wpb_animate_when_almost_visible wpb_bottom-to-top wpb_start_animation" href="<?=$link?>">Подробнее</a>
			<div class="wpb_wrapper">
				<div class="mgt-header-block clearfix text-left text-black   mgt-header-block-style-1 mgt-header-texttransform-header ">
					<h2 class="mgt-header-block-title">Что включено</h2>
					<div class="mgt-header-line"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="wpb_column vc_column_container vc_col-md-3 vc_col-sm-12">
		<div class="vc_column-inner ">
		</div>
	</div>
</div>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <div><span style="font-weight: bold;">Подготовка</span>: выезд специалистов-консультантов на объект; корректировка проекта; размещение строения на генплане; разбивка осей на местности, определяющих габариты будущего дома. <br>
		<span style="font-weight: bold;">Строительство</span>: все работы выполняются только штатными сотрудниками; на строительной площадке проводится системный технический контроль; доставка материала включена до 100 км.</div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div><span style="font-weight: bold;">- Персональный менеджер 7/24 (принцип “одного окна”, консультации)<br>
- Срок строительства проекта CKD-<?=$house?> - <?=$srok?$srok:90?> дней<br>
- Гарантия выполнения сроков договора. <br>
- 2 технических обслуживания включены в стоимость<br>
- Гарантия: 5 лет</span>
        </div>
    </div>
</div><hr>

<div class="vc_row wpb_row vc_row-fluid vc_custom_1464346399483">
	<div class="wpb_column vc_column_container vc_col-sm-4">
		<div class="vc_column-inner ">
			<div class="wpb_wrapper">
				<div class="mgt-icon-box wpb_content_element mgt-icon-box-right mgt-icon-fa mgt-icon-background mgt-icon-background-invert text-black ">
					<div class="mgt-icon-box-icon hvr-icon-push">
						<div class="mgt-font-icon"><i class="fa fa-th-large" aria-hidden="true"></i></div>
					</div>
					<div class="mgt-icon-box-content">
						<h6>Включено</h6>
						<h5>ФУНДАМЕНТ</h5>
						<p></p>
						<p style="text-align: left">Свайно-ростверковый. Самый распространненый на сегодняшний день тип фундамента.
                        <strong>Сваи на глубину 1,8 м, ростверк по сваям 250х440 мм.</strong></p>
						<p></p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="wpb_column vc_column_container vc_col-sm-4">
		<div class="vc_column-inner ">
			<div class="wpb_wrapper">
				<div class="mgt-icon-box wpb_content_element mgt-icon-box-right mgt-icon-fa mgt-icon-background mgt-icon-background-invert text-black ">
					<div class="mgt-icon-box-icon hvr-icon-push">
						<div class="mgt-font-icon"><i class="fa fa-list"></i></div>
					</div>
					<div class="mgt-icon-box-content">
						<h6>Включено</h6>
						<h5>СТЕНЫ И ПЕРЕКРЫТИЯ</h5>
						<p></p>
						<p style="text-align: left">Стеновой клееный брус <strong>200х185</strong> (оптимальная толщина стен для постоянного проживания в нашем регионе),
                        <strong>перекрытия из сухой строганной доски.</strong> </p>
						<p></p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="wpb_column vc_column_container vc_col-sm-4">
		<div class="vc_column-inner ">
			<div class="wpb_wrapper">
				<div class="mgt-icon-box wpb_content_element mgt-icon-box-right mgt-icon-fa mgt-icon-background mgt-icon-background-invert text-black ">
					<div class="mgt-icon-box-icon hvr-icon-push">
						<div class="mgt-font-icon"><i class="fa fa-eject"></i></div>
					</div>
					<div class="mgt-icon-box-content">
						<h6>Включено</h6>
						<h5>КРОВЛЯ</h5>
						<p></p>
						<p style="text-align: left">Металлочерепица. Стропильная система из сухой
                        строганной доски, металлочерепица, кровельный пирог 200 мм, водосточная система.</p>
						<p></p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
    <div class="clearfix"></div>
	<div class="wpb_column vc_column_container vc_col-sm-4">
		<div class="vc_column-inner ">
			<div class="wpb_wrapper">
				<div class="mgt-icon-box wpb_content_element mgt-icon-box-right mgt-icon-fa mgt-icon-background mgt-icon-background-invert text-black ">
					<div class="mgt-icon-box-icon hvr-icon-push">
						<div class="mgt-font-icon"><i class="fa fa-clone"></i></div>
					</div>
					<div class="mgt-icon-box-content">
						<h6>Включено</h6>
						<h5>НАРУЖНЫЕ ОКНА И ДВЕРИ</h5>
						<p></p>
						<p style="text-align: left">Оконные и дверные конструкции с использованием профилей из твердого ПВХ. Текстурная ламинация в любой цвет снаружи или внутри.</p>
						<p></p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="wpb_column vc_column_container vc_col-sm-4">
		<div class="vc_column-inner ">
			<div class="wpb_wrapper">
				<div class="mgt-icon-box wpb_content_element mgt-icon-box-right mgt-icon-fa mgt-icon-background mgt-icon-background-invert text-black ">
					<div class="mgt-icon-box-icon hvr-icon-push">
						<div class="mgt-font-icon"><i class="fa fa-hand-o-right"></i></div>
					</div>
					<div class="mgt-icon-box-content">
						<h6>&nbsp;</h6>
						<h5>ЦЕНА НЕИЗМЕННА</h5>
						<p></p>
						<p style="text-align: left">Изменение заявленной стоимости возможно только в одном случае:
неровный участок (перепад); </p>
						<p></p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="wpb_column vc_column_container vc_col-sm-4">
		<div class="vc_column-inner ">
			<div class="wpb_wrapper">
				<div class="mgt-icon-box wpb_content_element mgt-icon-box-right mgt-icon-fa mgt-icon-background mgt-icon-background-invert text-black ">

<div class="textwidget">
    <style scoped="scoped">
        .mgt-promo-block-79290018663.mgt-promo-block.darken .mgt-promo-block-content {
            background-color: #b76c00!important;
        }
        .mgt-promo-block-79290018663.mgt-promo-block.animated:hover .mgt-promo-block-content {
            background-color: rgba(0, 0, 0, 0.59)!important;
        }
    </style>
    <div class="mgt-promo-block animated black-text cover-image text-size-normal darken mgt-promo-block-79290018663 wpb_content_element" data-style="background-image: url(/banner/shutterstock-writing-copy.jpg);background-repeat: no-repeat;width: 100%; height: 200px;" style="background-image: url(/banner/shutterstock-writing-copy.jpg);background-repeat: no-repeat;width: 100%; height: 200px;">
        <div class="mgt-promo-block-content va-top">
            <div class="mgt-promo-block-content-inside">

                <h3>Изменить комплектацию</h3>
                Посмотрите подробное описание<br>
- Создайте свою комплектацию и узнайте ее стоимость онлайн
                <div class="mgt-button-wrapper mgt-button-wrapper-align-left mgt-button-wrapper-display-newline mgt-button-top-margin-enable"><a class="btn hvr-bounce-to-right mgt-button mgt-style-solid-invert mgt-size-normal mgt-align-left mgt-display-newline mgt-text-size-small mgt-button-icon-position-left mgt-text-transform-uppercase " href="<?=$link?>">Подробнее <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>