						<ul>
							<li>
								<a class="a-youtube" href="https://www.youtube.com/channel/UCApykxq-nTJaiKBwkIFSiLg" target="_blank"><span class="fa fa-youtube"></span></a>
							</li>                        
							<li>
								<a class="a-facebook" href="https://facebook.com/skddom" target="_blank"><span class="fa fa-facebook"></span></a>
							</li>
							<li>
								<a class="a-twitter" href="http://m.vk.com/skddom" target="_blank"><span class="fa fa-vk"></span></a>
							</li>
							<li>
								<a class="a-twitter" href="https://www.instagram.com/skd_dom/" target="_blank"><span class="fa fa-instagram"></span></a>
							</li>
							<li>
								<a class="a-google-plus" href="https://plus.google.com/+Skd-domRu" target="_blank"><span class="fa fa-google-plus"></span></a>
							</li>
						</ul>
