<div class="textwidget">
    <style scoped="scoped">
        .mgt-promo-block-79290018663.mgt-promo-block.darken .mgt-promo-block-content {
            background-color: #b76c00!important;
        }
        .mgt-promo-block-79290018663.mgt-promo-block.animated:hover .mgt-promo-block-content {
            background-color: rgba(0, 0, 0, 0.59)!important;
        }
    </style>
    <div class="mgt-promo-block animated black-text cover-image text-size-normal darken mgt-promo-block-79290018663 wpb_content_element" data-style="background-image: url(<?=$img?>);background-repeat: no-repeat;width: 100%; height: 200px;" style="background-image: url(<?=$img?>);background-repeat: no-repeat;width: 100%; height: 200px;">
        <div class="mgt-promo-block-content va-top">
            <div class="mgt-promo-block-content-inside">

                <h3>Что включено в стоимость</h3>
                Ознакомьтесь с вариантами комплектаций и создайте свою прямо сейчас!
                <div class="mgt-button-wrapper mgt-button-wrapper-align-left mgt-button-wrapper-display-newline mgt-button-top-margin-enable"><a class="btn hvr-bounce-to-right mgt-button mgt-style-solid-invert mgt-size-normal mgt-align-left mgt-display-newline mgt-text-size-small mgt-button-icon-position-left mgt-text-transform-uppercase " href="<?=$link?>">УЗНАТЬ ЧТО ВКЛЮЧЕНО <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>