<html>
<head>
	<title>{shop.ShopName}: заказ № {order.Message_ID} от {order.Date}</title>
</head>
<body>
<p><img src="{site.logo_header}" style="max-height: 150px" /></p>

<p></p>

<p>Здравствуйте!</p>

<p>Состав вашего заказа № <strong>{order.Message_ID}</strong> был изменён:</p>

<table cellpadding="4" cellspacing="2">
	<tbody>
		<tr style="background: #EEE">
			<th>Артикул</th>
			<th>Товар</th>
			<th>Цена</th>
			<th>Количество</th>
			<th>Стоимость</th>
		</tr>
		<?php foreach ($cart as $item): ?>
		<tr>
			<td>{item.Article}</td>
			<td"><a href="{item.URL}">{item.FullName}</a></td>
			<td style="text-align: right; vertical-align: top; white-space: nowrap">{item.ItemPriceF}</td>
			<td style="text-align: center; vertical-align: top; white-space: nowrap">{item.Qty} {item.Units}</td>
			<td style="text-align: right; vertical-align: top; white-space: nowrap">{item.TotalPriceF}</td>
		</tr>
		<? endforeach; ?>
		<tr>
			<td colspan="4" style="text-align: right;"><strong>Итого&nbsp;</strong></td>
			<td style="text-align: right;">{order.TotalItemPriceF}</td>
		</tr>
	</tbody>
</table>

<? if ($order['DeliveryPrice']): ?>
<p>Стоимость доставки: {order.DeliveryPriceF} ({order.DeliveryMethodName})</p>
<? endif; ?>

<? if ($order['PaymentPrice']): ?>
<p>Дополнительный сбор за выбранный способ оплаты ({order.PaymentMethodName}): {order.PaymentPriceF}</p>
<? endif; ?>

<? if ($order['TotalItemPrice'] != $order['TotalPrice']): ?>
<p><strong>ИТОГО: {order.TotalPriceF}</strong></p>
<? endif; ?>

<p><br />С уважением,<br /> <a href="{shop.URL}">{shop.ShopName}</a></p>
<? if ($shop['Phone']): ?><p>Телефон: {shop.Phone}</p><? endif; ?>
</body>
</html>
