@import url('https://fonts.googleapis.com/css?family=Montserrat');

$sk-w: 585px;
$sk-h: 585px;
$sk-zoom: 20px;
html {
  body {
    .skdmans-container-fixed {
      position: relative;
      width: $sk-w*2;
      min-width: $sk-w * 2;
      height: $sk-h * 4.5;
      //min-height: $sk-h *4.5;
      .skdmans-item-container {
        position: absolute;
        min-height: $sk-h / 2;
        min-width: $sk-w / 2;
        height: $sk-h / 2;
        width: $sk-w / 2;
        bottom: 0;
        right: 0;
        &.skdmans-item-npp-1 {
          top: 0;
          left: 0;
        }
        &.skdmans-item-npp-2 {
          top: $sk-h/2;
          left: 0;
        }
        &.skdmans-item-npp-3 {
          top: 0;
          left: $sk-w/2;
          height: $sk-h;
          width: $sk-w;
        }
        &.skdmans-item-npp-4 {
          top: 0;
          left: $sk-w*1.5;
          height: $sk-h;
        }
        &.skdmans-item-npp-5 {
          top: $sk-h;
          left: 0;
          width: $sk-w;
        }
        &.skdmans-item-npp-6 {
          top: $sk-h;
          left: $sk-w;
        }
        &.skdmans-item-npp-7 {
          top: $sk-h;
          left: $sk-w*1.5;
        }
        &.skdmans-item-npp-8 {
          top: $sk-h*1.5;
          left: 0;
        }
        &.skdmans-item-npp-9 {
          top: $sk-h*1.5;
          left: $sk-w/2;
        }
        &.skdmans-item-npp-10 {
          top: $sk-h*2;
          left: 0;
          width: $sk-w;
        }
        &.skdmans-item-npp-11 {
          top: $sk-h*1.5;
          left: $sk-w;
          height: $sk-h;
          width: $sk-w;
        }
        &.skdmans-item-npp-12 {
          top: $sk-h*2.5;
          left: 0;
        }
        &.skdmans-item-npp-13 {
          top: $sk-h*2.5;
          left: $sk-w/2;
        }
        &.skdmans-item-npp-14 {
          top: $sk-h*2.5;
          left: $sk-w;
          width: $sk-w;
        }
        &.skdmans-item-npp-15 {
          top: $sk-h*3;
          left: 0;
          width: $sk-w;
          height: $sk-w;
        }
        &.skdmans-item-npp-16 {
          top: $sk-h*3;
          left: $sk-w;
        }
        &.skdmans-item-npp-17 {
          top: $sk-h*3.5;
          left: $sk-w;
        }
        &.skdmans-item-npp-18 {
          top: $sk-h*3;
          left: $sk-w*1.5;
          height: $sk-h;
        }
        &.skdmans-item-npp-19 {
          top: $sk-h*4;
          left: 0;
        }
        &.skdmans-item-npp-20 {
          top: $sk-h*4;
          left: $sk-w/2;
        }
        &.skdmans-item-npp-21 {
          top: $sk-h*4;
          left: $sk-w;
          width: $sk-w;
        }
        .skdmans-item {
          position: relative;
          width: 100%;
          height: 100%;
          overflow: hidden;
          &:hover {
            .skdmans-text {
              left: 20px;
            }
            .skdmans-shadow {
              opacity: 0.6;
            }
            .skdmans-image {
              width: 105%;
              height: 105%;
            }
          }
          .skdmans-text {
            z-index: 3;
            width: 95%;
            position: absolute;
            top: 40px;
            left: -100%;
            color: black;
            transition: all 777ms ease-out 0ms;
            .skdmans-comment,
            .skdmans-title {
              font-family: 'Monserrat', 'Open Sans', sans-serif;
              color: white;
              font-size: 20px;
              text-shadow: black 0 0 3px;
              font-weight: 400;
              line-height: 1.2em;
            }
            .skdmans-title {
              padding-top: 2em;
              font-weight: normal;
              font-size: 13px;
            }
          }
          .skdmans-shadow {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 1;
            background: black;
            transition: all 888ms ease-out 0ms;
          }
          .skdmans-image {
            width: 100%;
            height: 100%;
            transition: all 333ms ease 0ms;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            border: none;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
          }
          .vote-skdmans {
            position: absolute;
            left: 10px;
            bottom: 10px;
            line-height: 45px;
            width: 45px;
            font-size: 20px;
            font-weight: bold;
            color: white;
            background: url(/netcat_template/template/thebuilt/images/heart-outline-64-green.png) no-repeat top left transparent;
            background-size: contain;
            z-index: 2;
            text-align: center;
            vertical-align: top;
            cursor: pointer;
            &.voted {
              cursor: default;
              background: url(/netcat_template/template/thebuilt/images/heart-outline-64-brown.png) no-repeat top left transparent;
              background-size: contain;
            }
          }
          .skdmans-npp{
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px;
            background: white;
            color: black;
            z-index: 10;
            font-weight: bold;
            font-size: 20px;
          }
        }
      }
    }
    .recomm.stages-flow {
      td {
        vertical-align: top;
        text-align: left;
      }
    }
    .stages-small-image {
      img {
        width: 100px;
        margin: 3px;
      }
    }
  }
}

@media(min-width: 1169px) {
  html {
    body {
      .skdmans-container {
        .skdmans-item {
          width: 50%;
          height: auto;
          .skdmans-image {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}