.template_logo {background: transparent url('../i/templates/blue/template_logo.gif') no-repeat left top;}4C90C9
.mybox_header span {color: #4C90C9;}
.authorization {background: #4C90C9;}
.copyright td {background: #4C90C9;}
.form_text {border: 1px solid #396C97;}
.bottom_width {background: #4C90C9;}
.info_block .show_header span {color: #4C90C9;}
.info_block .show_header {border-bottom: 1px solid #396C97;}
.width1 {background: transparent url('../i/templates/blue/template_auth_tr.gif') no-repeat right top;}
.width2 {background: transparent url('../i/templates/blue/template_auth_tl.gif') no-repeat left top;}
.width3 {background: transparent url('../i/templates/blue/template_auth_bl.gif') no-repeat right bottom;}
.width4 {background: transparent url('../i/templates/blue/template_auth_br.gif') no-repeat left bottom;}
.central_header span {color: #4C90C9;}
.info_block .show_text {border-top: 3px solid #4C90C9;}
.buy_it {width: 73px; height: 20px; background: transparent url('../i/templates/blue/template_buy.gif') no-repeat center center;}
.new_banner1  {background: #396C97 url('../i/templates/blue/template_banner1_bg.gif') no-repeat right top;}
.new_banner2  {background: #396C97 url('../i/templates/blue/template_banner2_bg.gif') no-repeat right top;}
.banner_goods {background: transparent url('../i/templates/blue/template_banner2.gif') no-repeat left top;}
.banner_services {background: transparent url('../i/templates/blue/template_banner1.gif') no-repeat left top;}
.main_header {background: transparent url('../i/templates/blue/template_top_gradient.gif') repeat-x left 7px;}
.main_header .main_bg1 {background: transparent url('../i/templates/blue/template_top_caption.gif') no-repeat right 0}
.main_header .main_bg2 {background: transparent url('../i/templates/blue/template_top_gradient2.gif') no-repeat left 0 }
.top_menu {background: #4C90C9 url('../i/templates/blue/template_auth_tl.gif') no-repeat left top;}
.page_content .page_header {color: #4C90C9;}